 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	padding-top:78px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#allmap {
	height:485px;
}

a {
    color: #ffffff;

      &:hover{
        color: #ffffff;
      },
      &:focus {
        color: #ffffff;
      }
}
.tab-1 {
    display: block;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}

.list-style-1 {
	display: block;
    padding: 1em;
    color: #fff;
    background-color: #6f5499;
    outline: 0;
}

.list-style-1 li{
	border-bottom:1px solid #d5d5d5;
	overflow:hidden;
	height: 60px;
	margin: 5px;
	list-style: none;
    cursor: pointer;
}

.list-style-1 .avatar {
	height: 65px;
	width: 65px;
	margin-right: 10px;
}

.list-style-1 .avatar img {
	width: 60px;
}

.list-style-1 .name {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 0;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 60px;
    line-height: 60px;
}

.user-list {
    height: 495px;
    overflow: scroll;
    overflow-x: hidden;
}

#notice-add-friend {
    display: none;
}


